.graphiql {
  height: 300px;
  margin-bottom: 9rem;
  display: table;
  width: 100%;
}

.graphiql .query, .graphiql .response {
  display: none;
}

.graphiql.view-only .execute-button {
  display: none !important;
}

